body	{
	border: 20px solid #bdc3c7; 
	width: 80%;
	margin: 20px auto;
	padding: 2%;
	font-family: source sans pro;
}

h2	{
	font-size: 2.0rem;
	font-weight: 900;
	color: #2c3e50;
}

.date	{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

.quote	{
	border-left: 5px solid #bdc3c7;
	padding-left: 20px;
}

hr	{
	margin: 50px 0;
}